body{
    background-color: #201C1C;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
    margin: 0px;
    padding: 0px; 
}

.zone-logo{
    width: 250px;
    position: absolute;
    margin-left: 30px;
}
.c1{
 font-size: 100px;
 margin: 0px;
 width: 390px;
 
}
.discription-main{
    display: grid;
    grid-template-columns: 390px 1fr;
    align-items: baseline;
    height: 140px;
   
}
.c2{

    margin-left: 20px;
    width: 800px ;
    font-size: 20px;
}
.div-c2{
    position: absolute;
    margin-left: 400px;
    margin-top: 40px;
}
.div1{
    width:500px;
  
    height: 100px;
}
.year{
    margin: 0px;
    font-size: 50px;
}
.discription-main1{
    height: 140px;
}
.es{
    margin: 0px;
}
.c3{
    
    width: 140px;
    margin-top: 50px;
    display: inline-block;
}
.digi{
    font-size: 100px;
    margin: 0px;
   
    
}
.c4{
    width: 700px;
    display: inline-block;
 
    margin-top: 30px;
    margin-left: 40px;
    
}
.dis-button{
    height: 100px;
    width: 253px;
    background: #DC7458;
    border-style: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
   
    
}
.dis-button:hover{
    cursor: pointer;
    background-color: rgb(209, 81, 46) ;
}
.button-div{
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-top: 38px;
    margin-left: 40px;
   
}
.main-body{
    
    margin-left: 60px;
    width: 1190px;
}
.div1:hover{
    cursor: pointer;
}
