.main2{
    margin-top: 70px;
   display: block;
   
}
.bot1{
    width: 250px;
    height:95px;
    margin-bottom: 28px;
    border-radius: 20px;
    border-style: none;
    margin-top: 0px;
    font-family: 'Roboto';
    background-color: #2C2C2C;
    font-size: 20px;
    font-weight: 400;
    color:  #B0AAAA;
    transition: 1s;
}
.bot2
{
    color:  #B0AAAA;
    width: 250px;
    height:80px;
    border-radius: 20px;
    border-style: none;
    margin-top: 0px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    background-color: #2C2C2C;
    transition: 0.5s;
}
.bot-main1{
 
    width: 250px;
    display: inline-block;
    vertical-align: top;
}
.bot-main1 button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
}

.bot-main1 button:active{
    background-color: #B0AAAA;
}
.slide-pictures{
   
    width: 900px; 
    height: 450px;
   display: inline-block;
   margin-left: 15px;
 
}
.pictures{
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 20px;
 
}
.logo:hover{
    cursor: pointer;
}
